* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* DavidEBUN's contribution */
body {
    justify-content: center;
    align-items: center;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
}

.textbox {
    min-height: 150px;
    padding: 5px;
    margin-bottom: 25px;
    width: 300px;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 8px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.goback {
    padding: 15px;
    background: white;
    color: rgb(11, 121, 121);
    border: none;
    font-size: inherit;

}

.send {
    padding: 15px;
    font-size: inherit;
    color: white;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(255, 115, 0);
}
/* ENDS HERE */