/* Global */
/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Quicksand:wght@400;500;600;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,700&display=swap');

:root {
  --b-color: #000000;
  --w-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

ul, a {
  list-style: none;
  text-decoration: none;
  color: currentColor;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 0 20px;
  padding-bottom: 28px;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background: var(--w-color);
  /* height: 100vh; */
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 100%;
  overflow-y: hidden;
}

input,
select,
textarea {
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  background: none;
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: #005c65;
}

select {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.logo,.main, .nav-list {
  padding: 0 20px;
}

.header {
  position: relative;
  padding-top: 24px;
  z-index: 3;
}

.nav-bar {
  position: relative;
  align-items: center;
  padding-top: 15px;
}

.logo {
  display: flex;
  grid-column: 1 / span 4;
  letter-spacing: 2px;
  white-space: nowrap;
  align-self: flex-start;
  /* letter-spacing: 8px; */
  /* border: 1px solid rgb(114, 30, 30) */
}

.grid {
  align-items: center;
}

.nav__link {
  position: relative;
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  padding-bottom: 1px;
  color: #fff;
}

.nav__link:hover,
.nav__link:focus {
  outline: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease;
}

.nav__link:hover::after,
.nav__link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
  outline: none;
}

/* hamburger code */
@media screen and (max-width: 799px) {
  .hamburger {
    /* display: block; */
    position: absolute;
    display: grid;
    cursor: pointer;
    right: 3%;
    top: 69%;
    height: 14px;
    transform: translate(-25%, -50%);
    z-index: 5;
  }



  .hamburger .line1,
  .hamburger .line3 {
    height: 2px;
    background: #000;
    width: 25px;
    border-radius: 1000px;
    transition: 0.8s ease;
  }

  .nav-list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.8s ease-out;
    pointer-events: none;
    /* padding-top: 20em; */
    /* padding: 0 0.9vw; */
    justify-content: center;
    align-items: center;
  }

  .nav-list>*+* {
    margin-top: 40px;
  }

  .nav-list.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: white;
    border-radius: 100px;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(2px, 1px);
    background-color: white;
    border-radius: 100px;
  }
}

.desktop-wrapper {
  width: 100%;
  max-width: 628px;
  margin: 0 auto;
}

.section1-container,
.section2-container, .wrapper {
  /* padding: 0px 20px 0 20px; */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section1-header {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 36px;
  text-align: center;
}

.my-2 {
  margin-bottom: 24px;
}

.section1-fromto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

.person1,
.person2 {
  display: grid;
  gap: 4px;
}

h5 {
  font-style: Medium;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--b-color);
}

.input-section {
  display: grid;
  gap: 16px;
  margin-top: 40px;
}

.cols {
  display: grid;
  gap: 16px;
}

.name {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--b-color);
}

/* SECTION2, DESMOND START  HERE, INCLUDE SECTION2 IN ALL OF YOUR CLASSES NAME -->
start here */

.section2-holder,
.section3-holder {
  display: grid;
  gap: 8px;
}

.section2-msg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2-msglabels {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 16px;
  color: black;
}

.section2-msglabels p {
  font-size: 12px;
  color: #005c65;
}

.section2-selectptrn {
  display: grid;
  align-content: center;
  gap: 4px;
  /* justify-content: space-between; */
}

.labels {
  display: flex;
  justify-content: space-between;
}

.labels p {
  color: #005c65;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  justify-content: space-between;
}

.action2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  /* gap: 106px; */
}

/* .refresh {
  display: none;
} */

.refresh {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  align-items: center;
}

.refresh:hover {
  /* transform: scale(1.01); */
  cursor: pointer;
}


.redactnow-btn {
  background-color: #ff8c40;
  border: none;
  padding: 20px 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  transition: background 600ms;
  cursor: pointer;
  display: grid;
  font-family: inherit;
  place-content: center;
}

/* .redactnow-btn2 {
  width: 228px;
} */

.loader {
  pointer-events: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #ff8c40;
  animation: roll 800ms ease infinite;
}

/* animation */
@keyframes roll {
  0% {
    transform: rotate(0turn)
  }
  100% {
    transform: rotate(1turn)
  }
}

.send-btn {
  padding: 16px 48px;
}

.redactnow-btn:hover {
  background: #fff;
  color: #ff8c40;
  outline: 1px solid #ff8c40;
}

.textbox {
  min-height: 150px;
  padding: 5px;
  margin-bottom: 25px;
  width: 300px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 8px;
}

.back {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
/* ENDS HERE */

/* Josephe44 Contribution */
.stat-head {
  text-align: left;
  margin-top: 40px;
}

.stat-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 24px;
}

.stat-word {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Josephe44 Contribution Ends Here */

/* style pattern error */
#pattern-error {
  color: red;
  font-weight: 500;
}

/* style for send message */
/* modal ui */
.sendContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 332px;
  display: none;
  text-align: center;
  color: #fff;
  font-size: 32px;
  border-radius: 20px;
  padding: 0 30px 30px;
  background-color: #FF8C3F;
  box-shadow:  0 2px 5px rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50% );
}
.popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* teams page design */
.teams-page {
  overflow-y: visible !important;
}

.main-info {
  padding: 0 20px;
  padding-top: 36px;
  padding-bottom: 40px;
}

.head {
  text-align: center;
}

.content {
  padding-top: 24px;
}

.image {
  width: 92px;
  height: 92px;
  /* padding: 4px; */
  border-radius: 4px;
  /* border: 1px solid black; */
  text-align: center;
  /* background-color: #FFE6E6; */
}

/* Precious code starts here */
@media (min-width: 800px) {
  .logo {
      grid-column: 1/ 3;
      padding: 0.5rem 1.25rem;
    }

    body {
      gap: 20px;
    }

    .nav-list {
      display: flex;
      gap: 30px;
      /* align-content: center; */
      font-size: 1rem;
      grid-column: 3 / -1;
      transition: font-weight 250ms ease;
      /* width: 100%; */
    }

    .nav__link::after {
      display: none;
    }

    .nav__items {
      position: relative;
      padding-bottom: 1px;
    }

    .nav__items:hover, .nav__items:hover .nav__link {
      color: #005c65;
      font-weight: 600;
    }

    .nav__items::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scaleX(0);
      border-radius: 1000px;
      transform-origin: right;
      transition: transform 250ms ease;
    }

    .nav__items:hover::after,
    .navs:focus::after {
      transform: scaleX(1);
      transform-origin: left;
      outline: none;
    }

  .main-nav {
    margin-left: auto;
  }

  .hamburger {
    display: none;
  }

  .nav__link,
  .resume {
    color: #000;
  }

  .desktop-wrapper {
    border: 1px solid #000000;
    padding: 36px 20px;
    border-radius: 16px;
    margin-top: 20px;
  }

  .section1-fromto {
    margin: 0;
  }

  .cols {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .input-section {
    gap: 24px;
  }

  .action2, .actions {
    justify-content: center;
    gap: 106px;
  }

  .stat-word {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .sendContainer {
    width: 410px;
  }
}
/* Precious ends here */
