/* Global */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Quicksand:wght@400;500;600;700&display=swap");

:root {
  --b-color: #000000;
  --w-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background: var(--w-color);
  /* width: 100vw; */
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}

input,
select,
textarea {
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  background: none;
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: #005c65;
}

select {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.desktop-wrapper {
  width: 100%;
  max-width: 628px;
  margin: 0 auto;
}

.section1-container,
.section2-container {
  padding: 0px 20px 0 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section1-logo {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.section1-header {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 28px;
  text-align: center;
}

.section1-fromto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.person1,
.person2 {
  display: grid;
  gap: 4px;
}

h5 {
  font-family: "Quicksand";
  font-style: Medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--b-color);
}

.input-section {
  display: grid;
  gap: 16px;
  margin-top: 40px;
}

.cols {
  display: grid;
  gap: 16px;
}

.name {
  font-family: "Quicksand";
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--b-color);
}

/* SECTION2, DESMOND START  HERE, INCLUDE SECTION2 IN ALL OF YOUR CLASSES NAME -->
start here */

.section2-holder,
.section3-holder {
  display: grid;
  gap: 8px;
}

.section2-msg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2-msglabels {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 16px;
  color: black;
}

.section2-msglabels p {
  font-size: 12px;
  color: #005c65;
}

.section2-selectptrn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.labels p {
  color: #005c65;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.action2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  /* gap: 106px; */
}

.refresh {
  display: none;
}

.redactnow-btn {
  background-color: #ff8c40;
  border: none;
  padding: 20px 52px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  transition: background 600ms;
  cursor: pointer;
}

.send-btn {
  padding: 16px 48px;
}

.redactnow-btn:hover {
  background: #fff;
  color: #ff8c40;
}

.textbox {
  min-height: 150px;
  padding: 5px;
  margin-bottom: 25px;
  width: 300px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 8px;
}

.back {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
/* ENDS HERE */

/* Josephe44 Contribution */
.stat-head {
  text-align: center;
  margin-top: 40px;
}

.stat-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 24px;
}

.stat-word {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Josephe44 Contribution Ends Here */

/* style pattern error */
#pattern-error {
  color: red;
  font-weight: 500;
}

/* style for send message */
/* modal ui */
.sendContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
  color: #fff;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}

/* Precious code starts here */
@media (min-width: 800px) {
  .desktop-wrapper {
    border: 1px solid black;
    padding: 40px 20px;
    border-radius: 16px;
    margin-top: 20px;
  }

  .section1-fromto {
    margin: 0;
  }

  .cols {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .input-section {
    gap: 24px;
  }

  .refresh {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
  }

  .refresh:hover {
    /* transform: scale(1.01); */
    cursor: pointer;
  }

  .actions {
    gap: 106px;
  }

  .action2 {
    justify-content: center;
    gap: 106px;
  }

  .stat-word {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Precious ends here */
